<div class="center" style="padding-top: 10px">
    <div class="title">MAD LIB</div>
</div>
<hr>
<div *ngIf="display=='options'" class="options center">
    <div>
        <div id="play" class="lib-button main-button" (click)="prepareToPlay()">Play a Mad Lib</div>
        <div id="write" class="lib-button main-button" (click)="handleWrite()">Write a Mad Lib</div>
    </div>
</div>

<div *ngIf="display=='madlibSelect'">
    <div class="lib-button back-button" (click)="handleBack()">Back</div>
    <div class="options center">
        <div>
            <div class="mobile-font">Select a madlib to play</div>
            <div *ngIf="initialView">
                <div *ngFor="let name of madlibNames | slice:0:5" class="lib-button main-button" (click)="handlePlay(name)"> {{ name }}</div>
                <div class="lib-button back-button" (click)="more()">...more</div>
            </div>
            <div *ngIf="!initialView">
                <div *ngFor="let name of madlibNames" class="lib-button main-button" (click)="handlePlay(name)"> {{ name }}</div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="display=='play'">
    <div class="lib-button back-button" (click)="handleBack()">Back</div>
    <div class="options center">
        <form *ngIf="fillOut=='one'" class="options" [formGroup]="madlibForm">
            <div *ngFor="let hint of hints; index as i">
                {{ hint }}: <input matInput type="text" id="word{{i}}" formControlName="word{{i}}" autocomplete="off"/> 
                <img 
                    class="tooltipImg" 
                    src="../../assets/tooltip.png" 
                    matTooltip="{{decideTooltipText(hint)}}" 
                    matTooltipPosition="left" 
                    (contextmenu)="$event.preventDefault()"
                    #tooltip="matTooltip"
                    (click)="toggleTooltip(tooltip)"
                >
            </div>
            <!--TODO: don't let user click submit until they fill out the fields-->
            <div class="lib-button back-button" (click)="handleSubmit()">Submit</div> 
        </form>
        <div *ngIf="fillOut=='two'">
            <div id="whole-area" [ngStyle]="{opacity: getOpacity()}" class="whole-area" [hidden]="hide"></div>
            <div [innerHTML]="madlibTemplate"></div>
        </div>
    </div>
</div>

<div *ngIf="display=='write'">
    <div class="lib-button back-button" style="display: inline-block" (click)="handleBack()">Back</div>
    <div class="center">
        <div style="margin: 0px 10px 0px 10px" class="mobile-font">Write some text, select the word you want to madlibify, then select what type of word it is.</div>
    </div>
    <div class="center">
        <textarea id="myTextarea" class="area mobile-font" (click)="onTextAreaClick($event)"></textarea>
    </div>
    <div class="center">
        <div class="lib-button back-button center" (click)="handleDone()">Done</div>
    </div>
</div>