<div class="center" style="padding-top: 10px">
    <div class="title">MAD LIB</div>
</div>
<hr>
<!--default-->
<div *ngIf="display=='/madlib'" class="options center">
    <div>
        <a routerLink="/madlib/play" id="play" class="myButton link">Play a Mad Lib</a>
        <a routerLink="/madlib/write" id="write" class="myButton link">Write a Mad Lib</a>
    </div>
</div>

<!--bgoink.com/madlib/play-->
<div *ngIf="display.includes('/madlib/play')"> 
    <app-play></app-play>
</div>

<!--bgoink.com/madlib/write-->
<div *ngIf="display=='/madlib/write'">
    <app-write></app-write>
</div>