<form class="popup" [formGroup]="wordTypeForm">
    <div style="justify-content: center; display:flex">What type of word is "{{ wordOfInterest }}"?</div>
    <br/>
    <mat-radio-group formControlName="checkboxes">
        <mat-radio-button value="noun">Noun</mat-radio-button>
        <br/>
        <mat-radio-button value="verb">Verb</mat-radio-button>
        <br/>
        <mat-radio-button value="adjective">Adjective</mat-radio-button>
        <br/>
        <mat-radio-button value="adverb">Adverb</mat-radio-button>
        <br/>
        <mat-radio-button value="other">Other</mat-radio-button>: &nbsp;
    </mat-radio-group>
    <input type="text" formControlName="userInput"/>
    <br/>
    <div style="justify-content: center; display:flex">
        <button 
            class="lib-button small" 
            (click)="submit()" 
            [style.background-color]="getColor()"
            [disabled]="disableSubmitButton()"
            >Submit</button>
            <button class="lib-button small" (click)="close()">Cancel</button>
    </div>
</form>
